*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}
.home,
.services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 30px;
}

.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.design {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

form {
  background: cornflowerblue;
  padding: 2rem;
  border-radius: 1rem;
  outline: none;
  text-align: left;
}

form label {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: left;
  text-transform: capitalize;
}

form input {
  min-width: 20rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  border: none;
  margin-top: 0.3rem;
  padding: 0.5rem;
  outline: none;
}

button[type] {
  border: none;
  padding: 0.4rem 1rem;
  text-align: center;
  margin-top: 1rem;
  font-family: "Raleway", sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: none;
}

button[type]:hover {
  background-color: #FF0000;
  color: aliceblue;
}

.showDataStyle {
  min-width: 20rem;
  width: 60rem;
  min-height: 2rem;
  padding: 1rem;
  
  color: aliceblue;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.8rem rgba(0, 0, 0, 0.5);
}

.showDataStyle p {
  font-size: 1.5rem;
}

.showDataStyle p:first-child {
  font-weight: bold;
}
body {
  min-height: 100vh;
  width: 100vw;
  background-image: url('./images/img-5.jpg');
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}
